<!DOCTYPE html>
<html lang="en">
  <head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Portfolio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/contact">Contact Me</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.0.2 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  <title> Projects </title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Project and Freelance Work</h1>
        <p class="lead">Within these projects I am utilizing a number of different Stacks and Frameworks.</p>
      </div>
    </div>
    <br class="my-3">
    <br class="my-3">
    </div>
    <div class="container">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="https://d3marco.github.io/TinDog/">TinDog</a>
        <a class="list-group-item list-group-item-action" href="https://d3marco.github.io/Dice-Game/">2 Player Dice Game</a>
        <a class="list-group-item list-group-item-action" href="https://d3marco.github.io/Drum-Kit/>">Online Drum Kit</a>
        <a class="list-group-item list-group-item-action" href="https://shermanjewelryco.com/">Sherman Jewelry & Co</a>
        <a class="list-group-item list-group-item-action" href="https://github.com/d3marco/NuCamp/blob/main/Project.zip">Console Based Adventure Game (Python)</a>
        <a class="list-group-item list-group-item-action" href="https://github.com/dspears2/FLASK_NOTE-app">Deployable Note Taking app (Python/Flask)</a>


        https://github.com/dspears2/FLASK_NOTE-app

      </div>
      <br>
      <br>

      <div class="container">
        
        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">TinDog Info</button>

        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">About TinDog</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body small">
            <p> TinDog is the ultimate app for dogs of all shapes and sizes. They are able to meet new and interesting dogs nearby to schedule play dates.
              <p> This project was build with HTML and CSS but I could easily add a database to store user data to take this static webpage to the next level.</p>  </div>
        </div>

        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">2 Player Dice Game Info</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">About <br class="my-3"> Web Based Dice</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p> A winner or loser is choosen based on the outcome of the dice roll. 
      <p> This project was build utilizing HTML,CSS,JavaScript</p>   </div>
</div>


<button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Online Drum Kit Info</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">About <br class="my-3"> Online Drum Kit</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Users are able to recreate their favorite garage band songs using this online drum kit. One you play be sure to have your volume turn up! </p> 
    <p> This project was build utilizing HTML,CSS,JavaScript</p>  </div>
</div>

        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Sherman Jewelry Info</button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">About <br class="my-3"> Sherman Jewelry & Co</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>This Freelance Job turned out amazing! I was able to build the Owner of this company the perfect website hosted on Shopify with custom code to allow payments with Affirm. </p> 
            <p>Based on statistics provided by Shopify - the store receive more traffic than 70% of stores launched the same week. </p>
          </div>
        </div>

        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Goodness Collection Info</button>

        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasTopLabel">About Goodness Collections</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>This was a Freelance Job that turned out amazing! I was able to build the Owner the perfect website to fit their needs/brand. </p> 
            <p>The site was also build on Shopify - the world fastest going E-commerce platform</p>
          </div>
        </div>    

    </div>
  

    

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
